// material styling
#app {
  --mdc-theme-primary: var(--color-primary);
  --mdc-theme-secondary: var(--color-secondary);
  --mdc-theme-background: var(--color-background);
  --mdc-theme-surface: var(--color-surface);
}

// themes
.dracula-theme {
  --color-primary: #43A047;
  --color-secondary:  #e74c3c;
  --color-background: #212121;
  --color-surface: #1e1c1c;

  // text
  --color-text: #ffffff;
  --color-text-on-primary:#ffffff;
  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
}

.cp-theme {
  --color-primary: #4d73bf;
  --color-secondary: #3d4b66;
  --color-background: #f2f4f7;
  --color-surface: #ffffff;

  // text
  --color-text: #45474d;
  --color-text-on-primary:#ffffff;
  --color-text-primary: var(--color-primary);
  --color-text-secondary: var(--color-secondary);
}