// color variables
$primaryColor: #43A047;
$primaryColorLight: #66BB6A;
$secondaryColor: #e74c3c;
$backgroundColor: #212121;
$surfaceColor: #1e1c1c;
$colorText: #ffffff;

// material styling
#app {
  --mdc-theme-primary: var(--color-primary);
  --mdc-theme-secondary: var(--color-secondary);
  --mdc-theme-background: var(--color-background);
  --mdc-theme-surface: var(--color-surface);
}

// themes
.dracula-theme {
  --color-primary: #{$primaryColor};
  --color-secondary: #{$secondaryColor};
  --color-background: #{$backgroundColor};
  --color-surface: #{$surfaceColor};

  // text
  --color-text: #{$colorText};
  --color-text-primary: var(--mdc-theme-primary);
  --color-text-secondary: var(--mdc-theme-secondary);
}

.cp-theme {
  --color-primary: #4d73bf;
  --color-secondary: #3d4b66;
  --color-background: #f2f4f7;
  --color-surface: #ffffff;

  // text
  --color-text: #45474d;
  --color-text-primary: var(--mdc-theme-primary);
  --color-text-secondary: var(--mdc-theme-secondary);
}